.footerFinalInner,
.instanceChild {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.instanceChild {
  background-color: var(--black);
}
.footerFinalInner {
  margin: 0 !important;
}
.logoSiteWebBc11 {
  width: 212px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.adresseIcon {
  height: 28px;
  width: 22px;
  position: relative;
}
.avenueHdiNouira,
.bureauN1C {
  margin: 0;
}
.avenueHdiNouiraContainer {
  position: relative;
}
.adresse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.vectorIcon {
  align-self: stretch;
  width: 30px;
  position: relative;
  max-height: 100%;
  min-height: 21px;
}
.blankLine,
.contactbmgtn1 {
  margin: 0;
}
.contactbmgtn {
  flex: 1;
  position: relative;
  white-space: nowrap;
}
.eMail {
  width: 171px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.tlphoneChild {
  height: 27px;
  width: 27px;
  position: relative;
}
.blankLine1,
.p {
  margin: 0;
}
.brandconceptText {
  flex: 1;
  position: relative;
}
.frameAcceuil,
.tlphone {
  display: flex;
  justify-content: flex-start;
}
.tlphone {
  width: 124px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-smi);
}
.frameAcceuil {
  height: 208px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  min-width: 334px;
  max-width: 100%;
  z-index: 1;
}
.acceuil,
.brandConcept {
  position: relative;
  font-weight: 500;
}
.acceuil {
  cursor: pointer;
}
.brandConcept {
  height: 26px;
  display: inline-block;
}
.brandConcept,
.portfolio,
.servicesEtPacks {
  cursor: pointer;
}
.contact,
.digiNews,
.portfolio,
.servicesEtPacks {
  position: relative;
  font-weight: 500;
}
.contact {
  cursor: pointer;
}
.acceuilParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.nosServices {
  position: relative;
}
.frameServicesBrandingCommun,
.nosServicesWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameServicesBrandingCommun {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 var(--padding-9xs);
}
.nosClients {
  position: relative;
}
.ourTeam {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-9xs);
}
.pourquoiChoisirNotre {
  width: 78px;
  position: relative;
  display: inline-block;
}
.ourTeam2 {
  flex: 1;
  position: relative;
}
.ourTeam1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-9xs);
}
.priseDeRendezVous,
.tmoignageClients {
  width: 80px;
  position: relative;
  display: inline-block;
}
.frameClientTestimonials {
  width: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.quiSommesNous {
  height: 21px;
  flex-shrink: 0;
}
.nosEngagements,
.notreMission,
.quiSommesNous {
  width: 113px;
  position: relative;
  display: inline-block;
}
.notreMission {
  height: 19px;
  flex-shrink: 0;
}
.nosEngagements {
  flex: 1;
}
.missionFrame,
.ourTeamFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.ourTeamFrame {
  align-self: stretch;
  height: 74px;
  padding: var(--padding-9xs) var(--padding-6xs) var(--padding-11xs);
  gap: var(--gap-9xs);
}
.missionFrame {
  flex: 1;
  padding: 0 var(--padding-10xs) 0 0;
  min-width: 112px;
}
.branding {
  flex: 1;
  position: relative;
}
.framenosservicesBrandingComm {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.communicationDigitale {
  flex: 1;
  position: relative;
}
.framenosservicesBrandingComm1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.conceptionWeb {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.framenosservicesBrandingComm2 {
  align-self: stretch;
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.facebookIcon,
.servicesSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.facebookIcon {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-9xs) 0 var(--padding-11xs) var(--padding-5xs);
  gap: var(--gap-9xs);
}
.servicesSection {
  width: 121px;
  align-items: flex-start;
  padding: 0 var(--padding-sm) 0 0;
  box-sizing: border-box;
}
.services {
  align-self: stretch;
  width: 72px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.mainMenu {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
}
.branding1 {
  align-self: stretch;
  width: 68px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.mainMenu1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
}
.communicationDigitale1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.mainMenu2 {
  width: 152px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.conceptionWeb1 {
  width: 101px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.mainMenu3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
}
.packs {
  flex: 1;
  position: relative;
}
.mainMenu4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl) 0 var(--padding-4xs);
}
.helloPack {
  flex: 1;
  position: relative;
}
.mainMenu5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 var(--padding-4xs);
}
.goPack {
  flex: 1;
  position: relative;
}
.mainMenu6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 var(--padding-4xs);
}
.extraPack {
  flex: 1;
  position: relative;
}
.mainMenu7 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-7xl) 0 var(--padding-4xs);
}
.framesContainer,
.mainMenu7,
.menu {
  display: flex;
  justify-content: flex-start;
}
.framesContainer {
  height: 172px;
  width: 161px;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-9xs) 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.menu {
  width: 620px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-8xl);
  max-width: 100%;
}
.suivezNous {
  height: 23px;
  position: relative;
  line-height: 114.29%;
  font-weight: 500;
  display: inline-block;
}
.facebookVector {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--white);
  box-sizing: border-box;
  margin-left: -88px;
}
.followUsLink {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.ourTeamText {
  height: 25px;
  width: 25px;
  position: relative;
  min-height: 25px;
}
.facebookIcon1,
.nosClientsText {
  height: 24px;
  width: 24px;
  position: relative;
}
.facebookIcon1 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  overflow: hidden;
  flex-shrink: 0;
}
.facebookFrame,
.footerLinks {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.facebookFrame {
  flex-direction: row;
  padding: 0 var(--padding-13xl) 0 0;
  position: relative;
  gap: var(--gap-5xs);
}
.footerLinks {
  width: 89px;
  flex-direction: column;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--paragraphe-size);
}
.frameQuiSommesNous {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-2xs);
  font-family: var(--paragraphe);
}
.footerFinal,
.frameParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 907px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  min-width: 907px;
  z-index: 1;
  font-size: var(--h2-size);
  font-family: var(--h2);
}
.footerFinal {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-17xl) var(--padding-4xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--white);
  font-family: var(--paragraphe);
}
@media screen and (max-width: 1325px) {
  .frameAcceuil,
  .frameParent {
    flex: 1;
  }
  .footerFinal {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .acceuilParent,
  .frameQuiSommesNous {
    flex-wrap: wrap;
  }
  .frameParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .menu {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .acceuilParent {
    gap: var(--gap-lg);
  }
}
