.logoFrame,
.logoFrameWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.logoFrame {
  background-color: var(--black);
}
.logoFrameWrapper {
  margin: 0 !important;
}
.logoSiteWebBc11 {
  width: 212px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.emailInputIcon {
  height: 28px;
  width: 22px;
  position: relative;
}
.avenueHdiNouira,
.bureauN1C {
  margin: 0;
}
.avenueHdiNouiraContainer {
  position: relative;
}
.adresse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.homePortfolioIcon {
  align-self: stretch;
  width: 30px;
  position: relative;
  max-height: 100%;
  min-height: 21px;
}
.blankLine,
.contactbmgtn1 {
  margin: 0;
}
.contactbmgtn {
  flex: 1;
  position: relative;
  white-space: nowrap;
}
.eMail {
  width: 171px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.tlphoneChild {
  height: 27px;
  width: 27px;
  position: relative;
}
.blankLine1,
.p {
  margin: 0;
}
.servicesMenu {
  flex: 1;
  position: relative;
}
.contactInfo,
.tlphone {
  display: flex;
  justify-content: flex-start;
}
.tlphone {
  width: 124px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-smi);
}
.contactInfo {
  height: 208px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  min-width: 334px;
  max-width: 100%;
  z-index: 1;
}
.acceuil,
.brandConcept {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.acceuil {
  cursor: pointer;
}
.brandConcept {
  height: 26px;
  display: inline-block;
}
.brandConcept,
.portfolio,
.servicesEtPacks {
  cursor: pointer;
}
.contact,
.digiNews,
.portfolio,
.servicesEtPacks {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.contact {
  cursor: pointer;
}
.headerGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.nosServices {
  position: relative;
}
.engagements,
.missionStatement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.missionStatement {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 var(--padding-9xs);
}
.nosClients1 {
  position: relative;
}
.servicesFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-9xs);
}
.pourquoiChoisirNotre {
  width: 78px;
  position: relative;
  display: inline-block;
}
.ourTeam {
  flex: 1;
  position: relative;
}
.servicesFrame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-9xs);
}
.priseDeRendezVous,
.tmoignageClients {
  width: 80px;
  position: relative;
  display: inline-block;
}
.nosClients {
  width: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.quiSommesNous {
  height: 21px;
  flex-shrink: 0;
}
.nosEngagements,
.notreMission,
.quiSommesNous {
  width: 113px;
  position: relative;
  display: inline-block;
}
.notreMission {
  height: 19px;
  flex-shrink: 0;
}
.nosEngagements {
  flex: 1;
}
.communicationDigitalFrame,
.conceptionWebFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.conceptionWebFrame {
  align-self: stretch;
  height: 74px;
  padding: var(--padding-9xs) var(--padding-6xs) var(--padding-11xs);
  gap: var(--gap-9xs);
}
.communicationDigitalFrame {
  flex: 1;
  padding: 0 var(--padding-10xs) 0 0;
  min-width: 112px;
}
.branding {
  flex: 1;
  position: relative;
}
.ourTeam1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.communicationDigitale {
  flex: 1;
  position: relative;
}
.ourTeam2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.conceptionWeb {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.ourTeam3 {
  align-self: stretch;
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.brandCommunication,
.servicesSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.servicesSection {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-9xs) 0 var(--padding-11xs) var(--padding-5xs);
  gap: var(--gap-9xs);
}
.brandCommunication {
  width: 121px;
  align-items: flex-start;
  padding: 0 var(--padding-sm) 0 0;
  box-sizing: border-box;
}
.services {
  align-self: stretch;
  width: 72px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.packagesOffered {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
}
.branding1 {
  align-self: stretch;
  width: 68px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.packagesOffered1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
}
.communicationDigitale1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.packagesOffered2 {
  width: 152px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.conceptionWeb1 {
  width: 101px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.packagesOffered3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
}
.packs {
  flex: 1;
  position: relative;
}
.packagesOffered4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl) 0 var(--padding-4xs);
}
.helloPack {
  flex: 1;
  position: relative;
}
.packagesOffered5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 var(--padding-4xs);
}
.goPack {
  flex: 1;
  position: relative;
}
.packagesOffered6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 var(--padding-4xs);
}
.extraPack {
  flex: 1;
  position: relative;
}
.packagesOffered7 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-7xl) 0 var(--padding-4xs);
}
.menu,
.packagesOffered7,
.whatWeDo {
  display: flex;
  justify-content: flex-start;
}
.whatWeDo {
  height: 172px;
  width: 161px;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-9xs) 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.menu {
  width: 620px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-8xl);
  max-width: 100%;
}
.suivezNous {
  margin: 0;
  height: 23px;
  position: relative;
  font-size: inherit;
  line-height: 114.29%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
}
.lineSeparator {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--white);
  box-sizing: border-box;
  margin-left: -88px;
}
.followUs {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.contactInfoIcon {
  height: 25px;
  width: 25px;
  position: relative;
  min-height: 25px;
}
.facebookIcon,
.vectorFacebookIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.facebookIcon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  overflow: hidden;
  flex-shrink: 0;
}
.footerInfo,
.vectorDivider {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vectorDivider {
  flex-direction: row;
  padding: 0 var(--padding-13xl) 0 0;
  position: relative;
  gap: var(--gap-5xs);
}
.footerInfo {
  width: 89px;
  flex-direction: column;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--paragraphe-size);
}
.whyChooseUs {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-2xs);
  font-family: var(--paragraphe);
}
.footerFinal,
.headerGroupParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
  color: var(--white);
}
.headerGroupParent {
  width: 907px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  min-width: 907px;
  z-index: 1;
  font-size: var(--h2-size);
  font-family: var(--h2);
}
.footerFinal {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-17xl) var(--padding-4xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  font-family: var(--paragraphe);
}
@media screen and (max-width: 1325px) {
  .contactInfo,
  .headerGroupParent {
    flex: 1;
  }
  .footerFinal {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .headerGroup,
  .whyChooseUs {
    flex-wrap: wrap;
  }
  .headerGroupParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .menu {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .headerGroup {
    gap: var(--gap-lg);
  }
}
