.backIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.optimisezVotrePrsence {
  position: absolute;
  top: 179px;
  left: 24px;
  font-weight: 500;
  display: none;
  align-items: center;
  width: 409px;
  height: 101px;
}
.front,
.p6 {
  position: relative;
  max-width: 100%;
}
.front {
  height: 469px;
  flex: 1;
  border-radius: var(--br-xs);
  overflow: hidden;
  background-image: url(/public/front2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.p6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.conceptionAffiche,
.p6 {
  align-self: stretch;
}
.communicationDigitale,
.conceptionAffiche {
  position: relative;
  font-weight: 500;
}
.conceptionAfficheParent,
.nosteam {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.conceptionAfficheParent {
  width: 246px;
  gap: var(--gap-6xs);
  color: var(--violet-2);
}
.nosteam {
  gap: var(--gap-2xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--white);
  font-family: var(--paragraphe);
}
